* {
  --primary: burlywood;
  --secondary: antiquewhite;
}

body {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
}

.primary {
  background-color: var(--primary);
}

.secondary {
  background-color: var(--secondary);
}

#modal-container {
  position: fixed;
  display: none;
  
  height: 100vh;
  width: 100vw;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  top: 0;
  left: 0;
  
  background-color: rgba(0, 0, 0, 0.44);

  z-index: 10;
}

#modal-container.opened {
  display: flex;
}

#modal-body {
  display: flex;

  max-width: 50vw;
  
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-radius: 2vh;
  padding: 2vh;

  background-color: var(--secondary);
}

#modal-description {
  text-align: center;
  margin-bottom: 1vh;
}

#start-puzzle {
  font-size: 1.5em;
  cursor: pointer;
  margin: 1vh;
  color: blue;
}

#modal-input {
  margin: 1vh;
  color: black;
}

#modal-hint:hover {
  background-color: antiquewhite;
  cursor: default;
}

.modal-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1vh;
}

input {
  text-align: center;
  font-size: 1.5em;
  border-radius: 1vmax;
  border: 2px solid black;
  outline: none;
  color: var(--primary);
}

input:focus {
  outline: none !important;
  border: 2px solid var(--primary);
}

button {
  border: none;
  background-color: var(--primary);
  font-family: Nunito;
  font-size: 1.5em;
  padding: 0.5vh;
  border-radius: 1vmax;
  color: white;
}

button.off, button.off:hover {
  background-color: grey;
  cursor: default;
}

#page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nunito {
  font-family: Nunito;
}

.mono {
  font-family: 'JetBrains Mono', monospace;
}

#banner {
  height: 10vh;
  width: 100vw;
  text-align: center;
  padding: 20px;
  margin: 2vh;
}

#marcos-intro {
  top: 10vh;
  display: flex;
  flex-direction: row;
  width: 75vw;
  justify-content: space-evenly;
  align-items: flex-start;
  align-self: center;
}

#marcos-carousel {
  position: relative;
  height: 50vh;
  width: 40vw;
  display: flex;
  text-align: center;
}

#marcos-carousel > img {
  position: absolute;
  align-self: center;
  border-radius: 20px;
  z-index: 0;
  transition: all .3s ease-in-out;
}

#marcos-carousel > img:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
}

#marcos-carousel > img.carousel-right-hover {
  transform: rotateZ(15deg);
  z-index: 1;
  transform-origin: bottom center;
}

#marcos-carousel > img.carousel-left-hover {
  transform: rotateZ(-15deg);
  z-index: 1;
  transform-origin: bottom center;
}

#marcos-carousel > img.carousel-focus {
  z-index: 2;
}

#marcos-blurb {
  font-size: 12px;
  padding: 2vh;
  background-color: var(--secondary);
  border-radius: 20px;
  height: 100%;

  border: 1px solid black;

  text-align: justify;
  text-justify: inter-word;
}

#advent-calendar-container {
  width: 75vw;
  border: 2px solid black;
  align-self: center;
  margin: 2vw;
  border-radius: 2vw;
  text-align: center;
  background-color: var(--secondary);
  padding: 2vh;
}

table {
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

.calendar-item {
  display: flex;
  flex-direction: column;
  height: 6vh;
}

.calendar-header {
  display: flex;
  align-self: first baseline;
}

.clickable {
  cursor: pointer;
  color: blue;
  text-decoration: none;
}

#marcos-bday-link {
  margin-bottom: 5vh;
  background-color: var(--secondary);
  padding: 20px;
  color: black;
  border: 2px solid black;
}

.shake {
  animation: shake 0.3s;
  animation-iteration-count: 1;
  border-color: red;
}

@keyframes shake {
  0% { transform: translate(2px) } 
  20% { transform: translate(-2px) }
  40% { transform: translate(2px) }
  60% { transform: translate(-2px) }
  80% { transform: translate(2px) }
  100% { transform: translate(-2px) }
}
